#appColumn {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}
#headRow {
  display: flex;
  justify-content: space-between;
}
#bodyRow {
  display: flex;
  justify-content: space-between;
}
#reviewsAdsColumn {
  display: flex;
  flex-direction: column;
}

#bodyRow a {
  color: blue;
}
